*{margin:0; padding:0;}

body{


background-color:#C0C0C0;
background-image: url('https://i.pinimg.com/originals/16/02/b2/1602b26c05ee78120695d592a68b8912.gif');
background-repeat:repeat;
background-attachment:fixed;
font-family:arial,helvetica, sans-serif;
width:100%;
background-position: nome;
text-decoration:none;
}
nav ul{

list-style-type:none;
text-decoration:none;

}
nav ul li { 
float:left;
text-decoration:none;
display:inline;

}
nav ul li a{

padding:5px 183px;
display: block;
background-color:#DCDCDC;
text-decoration:none;
}
nav ul li a: houver{

background:#333;
color:#fff;
-moz-box-shadow: 0 3px 5px 0 #ccc;
text-decoration:nome;

}
.texto{

text-align:left;color:blue;font-size:19px;

width:80%;
padding-left:10px;
margin-left: 15px;
vertical-align:middle;

display:table-cell;
text-decoration:none;

}
.texto p{
	color: blue;
	text-align:center;
	background-color: #DCDCDC;
	margin: 0px 150px 10px 300px;
	
}
.texto h1{
	text-align:center;
	color:blue;
	margin:350px 100px 10px 200px;
	background-color: #DCDCDC;
}


